@model Enigma3ViewModel
@{
    ViewData["Title"] = "Enigma3";
}
<h2>Enigma3</h2>
<p>
    Ao passar do tempo, foi piorando o quando me deparei estava em coma, mas do nada eu escutei a piada do pato. E de repente baixa o Chico Xavier, coloquei a mão no rosto e começo a escrever de forma ordenada e não ambígua, de forma lógica e reta, simples e pura.



    00100100001001000010010020010010000100100001001000010010000100100

    00100100001001000010010000100100001001000010010000100100001001000

    0010010000100100500100100001001000010010000100100º001001000010010

    00100100200100100001001000010010000100100001001000010010000100100

    00100100001001000010010000100100001001000010010040010010000100100

    00100100001001000010010000100100'00100100001001000010010000100100

    00100100001001000010010050010010000100100001001000010010000100100

    00100100001001000010010000100100001001007001001000010010000100100

    00100100001001000010010000100100.00100100001001000010010000100100

    00100100001001000010010050010010000100100001001000010010000100100

    001001000010010000100100"0010010000100100001001000010010000100100

    00100100001001000010010000100100S00100100001001000010010000100100

    00100100001001000010010000100100400100100001001000010010000100100

    00100100001001000010010000100100001001000010010000100100001001000

    00100100001001000010010090010010000100100001001000010010000100100

    00100100001001000010010000100100º00100100001001000010010000100100

    11 00001000010010000100100001001000010010000100100001001000010010

    001001000010010000100100'0010010000100100001001000010010000100100

    00100100001001000010010020010010000100100001001000010010060010010

    00100100001001000010010000100100.00100100001001000010010000100100

    00100100001001000010010070010010000100100001001000010010000100100

    00100100001001000010010000100100"001001000010010000100W0000100100
</p>

Para avançar para o próximo enigma a resposta pode ser 3 números ou mais

    Lembre-se do resultado completo.

<a asp-area="" asp-controller="Home" asp-action="Enigma4"><input type="button" value="RESPONDER" /></a>

