@model EnigmasViewModel
@{
    ViewData["Title"] = "Enigmas";
}
<body class="imgbody">
</body>


	<br />
	<div class="caixa">
		Meus enigmas foram compostos na matéria de Fundamentos da computação, por tanto se você não conhece a disciplina, de uma pesquisada sobre o que contém nessa matéria, pois, isso te ajudará a desenvolver alguns dos enigmas.
		Todas as respostas devem ser respondidas com carateres maiúsculos.
		Boa sorte a todos...
	</div>

	<br /><a asp-area="" asp-controller="Home" asp-action="Enigma1"><input type="button" value="IR PARA O ENIGMA"  class="btn1"/></a>



