@model Enigma4ViewModel
@{
    ViewData["Title"] = "Enigma4";
}
<h2>Enigma4</h2>
<p style="color:white">
    83325360
</p>

<a asp-area="" asp-controller="Home" asp-action="Enigma5"><input type="button" value="RESPONDER" /></a>


