@model Enigma5ViewModel
@{
    ViewData["Title"] = "Enigma5";
}

<p>
    Você esta gostando do nosso enigma ?



    Gostaria de continuar jogando ?





    <a asp-area="" asp-controller="Home" asp-action="Enigma6"><input type="button" value="SIM" /></a>

    NÃO
</p>



